<style>


</style>
      <!-
      todo
      좌측정렬 / 버튼 알값이랑 높이 줄이기-슬림하게 / 공지사항 수직정렬 /
      ->

      <ion-content class="joinBody" id="contentHeight">

      <div>
      <div layout="column" layout-align="center none" ng-init="initInsertInfoCtrl()" style="background-color: white;min-height: {{insertInfoHeight}}px;">
        <div class="headerBar">
            <div class="headTitle">부모 정보 입력</div>
            <div class="closeIconDiv"></div>
        </div>
        <div class="insertInfoWrapper">
          <form class="form-horizontal" name="userRegisterForm" novalidate>
          <div layout="row" layout-sm="column">
            <div flex style="padding-left: 70px;">
              <md-content>
                <div style="width: 90%">
                  <span class="titleFont">이메일</span>
                  <md-input-container md-no-float class="md-block customInput">
                    <!--<input name="userId" style="height: 50px" aria-label="aria-label" placeholder="example@hangulbot.com" type="email"
                           ng-model="userInfo.userId" ng-minlength="5" ng-maxlength="30" ng-pattern="regex.emailRegex" ng-model-options="{allowInvalid: true}"
                           duplicate-email required>-->
                    <input name="userId" style="height: 50px" aria-label="aria-label" placeholder="example@hangulbot.com" type="email"
                           ng-model="userInfo.userId" ng-minlength="5" ng-maxlength="30" ng-pattern="regex.emailRegex" ng-model-options="{allowInvalid: true}"
                           required>
                  </md-input-container>

                  <span class="titleFont">비밀번호</span>
                  <md-input-container md-no-float class="md-block customInput">
                    <input style="height: 50px;font-size: 32px;font-weight: 400" aria-label="label" type="password"
                           ng-model="userInfo.password" ng-minlength="8" ng-maxlength="15" name="password" ng-pattern="regex.passwordRegex"
                           required/>
                  </md-input-container>
                  <span class="titleFont">휴대폰</span>
                  <md-input-container md-no-float class="md-block customInput">
                    <input id="inputConfirm3" aria-label="label" style="height: 50px" type="text"
                           ng-model="userInfo.phoneNumber" ng-pattern="regex.phoneRegex" name="phoneNumber" placeholder="01012345678"
                           required/>
                  </md-input-container>

                </div>

              </md-content>
            </div>
            <div flex>
                <div class="noticeDiv">
                  <span>
                    본 정보는 데이터 통계 접근 및 아이추가,  정보수정 콘텐츠 구입 등 부모님의 기본 활동을 위하여 저장되고 관리됩니다.
                  </span>
                </div>
                <div class="acceptDiv">
                  <div class="acceptIcon" ng-show="userInfo.isAgreed" ng-click="changeAgree(false)">
                    <!--<i class="icon ion-checkmark" style="font-weight: 800;font-size: 32px"></i>-->
                    <i class="icon ion-checkmark-round" style="font-weight: 800;font-size: 25px"></i>
                  </div>
                  <div class="noAcceptIcon" ng-show="!userInfo.isAgreed" ng-click="changeAgree(true)">
                    <!--<i class="icon ion-checkmark" style="font-weight: 800;font-size: 32px"></i>-->

                  </div>
                  <span style="padding-left: 20px">
                    <a href="http://www.hangulbot.com/blank-1" style="text-decoration: underline;color:#5fc1c7">개인정보취급방침</a> 약관에 동의합니다.
                    </span>
                </div>
                <div class="warningDiv" ng-show="userRegisterForm.userId.$invalid||duplicateEmail.$invalid||!userInfo.isAgreed||userRegisterForm.password.$invalid
           ||userRegisterForm.phoneNumber.$invalid">
                  <div class="warningIcon">
                    <!--<i class="icon ion-checkmark" style="font-weight: 800;font-size: 32px"></i>-->
                    <i class="icon ion-alert" style="font-weight: 800;font-size: 25px"></i>
                  </div>
                  <span style="padding-left: 20px">가입양식을 다시 한번 확인해주세요</span>
                </div>
              <div class="submitBtnDiv" >
                <!--<div class="submitBtn" ng-disabled="userRegisterForm.userId.$invalid||duplicateEmail.$invalid||!userInfo.isAgreed||userRegisterForm.password.$invalid
           ||userRegisterForm.phoneNumber.$invalid"
                     ng-click="insertUserInfo()">가입하기</div>-->
                <button class="submitBtn" ng-disabled="userRegisterForm.userId.$invalid||duplicateEmail.$invalid||!userInfo.isAgreed||userRegisterForm.password.$invalid
           ||userRegisterForm.phoneNumber.$invalid"
                     ng-click="insertUserInfo()">가입하기</button>
              </div>
            </div>

          </div>
            </form>
</div>
      </ion-content>





